<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.grace.it.dao.TitleDao">
    <resultMap id="collectResultMap" type="com.grace.it.entity.Title">
        <result column="emp_no" jdbcType="BIGINT" property="empNo"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="from_date" jdbcType="VARCHAR" property="fromDate"/>
        <result column="to_date" jdbcType="VARCHAR" property="toDate"/>
    </resultMap>

    <select id="listByCondition" resultMap="collectResultMap">
       SELECT
            emp_no,
            title,
            from_date,
            to_date
        FROM
            title
        <where>
            <if test="empNo !=null">
                emp_no = #{empNo}
            </if>
            <if test="title !=null and title !=''">
                and title = #{title}
            </if>
            <if test="fromDate !=null and fromDate !=''">
                and from_date = #{fromDate}
            </if>
            <if test="toDate !=null and toDate !=''">
                and to_date = #{toDate}
            </if>
        </where>
        WHERE
    </select>

    <select id="selectTitleByPage" resultMap="collectResultMap" parameterType="com.grace.it.model.PageVo">
        select emp_no,title,from_date,to_date from title limit #{currentPage} ,#{pageSize}
    </select>

    <select id="countTitle" resultType="integer">
        select count(emp_no) from title ;
    </select>

    <update id="updateByCondition" parameterType="com.grace.it.entity.Title">
        update title
        <set>
            <if test="title !=null and title !=''">
                title = #{title},
            </if>
            <if test="fromDate !=null and fromDate !=''">
                from_date = #{fromDate},
            </if>
            <if test="toDate !=null and toDate !=''">
                to_date = #{toDate}
            </if>
        </set>
        <where>
            emp_no = #{empNo}
        </where>
    </update>

    <insert id="insert" parameterType="com.grace.it.entity.Title">
        INSERT INTO title(
            <if test="empNo !=null">
                emp_no
            </if>
            <if test="title !=null and title !=''">
                ,title
            </if>
            <if test="fromDate !=null and fromDate !=''">
                ,from_date
            </if>
            <if test="toDate !=null and toDate !=''">
                ,to_date
            </if>
        )
        VALUES (
            <if test="empNo !=null">
             #{empNo}
            </if>
            <if test="title !=null and title !=''">
                , #{title}
            </if>
            <if test="fromDate !=null and fromDate !=''">
                ,#{fromDate}
            </if>
            <if test="toDate !=null and toDate !=''">
                ,#{toDate}
            </if>
        );
    </insert>

    <delete id="deleteByEmpNo" parameterType="long">
        delete from title
        <where>
            emp_no = #{empNo}
        </where>
    </delete>
</mapper>